*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
aside{
    width: 25%;
    height: 100vh;
    float: left;
    display: block;
    background-color: #f1f1f1;
    box-shadow: 1px 0.5px 100px rgba(0, 0, 0, 0.50);
    position: relative;
    box-sizing: border-box;
    padding-left: 1;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
}

.menu h4{
    color: #000;
    font-weight: bold;
}
.menu button{
    border: none;
    cursor: pointer;
    background: none;
}


.fa-search{
    position: absolute;
    top: 48%;
    left: 28px;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
}
.search{
    width:100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #ccc;
    color: #000;
}
.pesquisa{
    position: relative;
    width: 100%;
    padding: 1rem;
}

.tasks{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0;
    padding: 1rem;
}

.tasks button{
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    
    padding: 10px 15px;
    
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}
.tasks button:hover{
    background-color: #a5a5a5;
    border-radius: 16px;
}

.tasks button i{
    font-size: 16px;
    color: #000;
}

.list{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0;
    padding: 1rem;
}

.quad-personal{
    width: 10px;
    height: 10px;
    background-color: rgb(253, 58, 58);
}
.quad-work{
    width: 10px;
    height: 10px;
    background-color: rgb(58, 198, 253);
}
.quad-list{
    width: 10px;
    height: 10px;
    background-color: rgb(200, 223, 0);
}


.list button{
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.list button:hover{
    background-color: #a5a5a5;
    border-radius: 16px;
}
